<%- include ('header') -%>
        <main class="container">
            <form method="post">
                <fieldset>
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </fieldset>
                <fieldset>
                    <label for="image">Image</label>
                    <input type="text" name="image" id="image">
                </fieldset>
                <fieldset>
                    <label for="age">Age</label>
                    <input type="text" name="age" id="age">
                </fieldset>
                <fieldset>
                    <label for="description">Description</label>
                    <textarea name="description" id="description"></textarea>
                </fieldset>
                <button type="submit">Ajouter</button>
            </form>
        </main>
    </body>
</html>